In [14]:
import pandas as pd
ratings = pd.read_csv('/Users/evgeny/Documents/GitHub/skillfactory/module_1/ratings.xls')
movies = pd.read_csv('/Users/evgeny/Documents/GitHub/skillfactory/module_1/movies.xls')
ratings.info()
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

In [13]:
ratings

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [155]:
movies

   movieId                                      title                   genres
0       31                    Dangerous Minds (1995)                     Drama
1       32  Twelve Monkeys (a.k.a. 12 Monkeys) (1995)  Mystery|Sci-Fi|Thriller

In [157]:
ratings = pd.read_csv('/Users/evgeny/Documents/GitHub/skillfactory/module_1/ratings.xls')
movies = pd.read_csv('/Users/evgeny/Documents/GitHub/skillfactory/module_1/movies.xls')
joined = ratings.merge(movies, on='movieId', how='outer')
joined

,userId,movieId,rating,timestamp,title,genres
0,1.0,1,4.0,9.649827e+08,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5.0,1,4.0,8.474350e+08,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7.0,1,4.5,1.106636e+09,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,15.0,1,2.5,1.510578e+09,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,17.0,1,4.5,1.305696e+09,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
...,...,...,...,...,...,...
100849,NaN,30892,NaN,NaN,In the Realms of the Unreal (2004),Animation|Documentary
100850,NaN,32160,NaN,NaN,Twentieth Century (1934),Comedy
100851,NaN,32371,NaN,NaN,Call Northside 777 (1948),Crime|Drama|Film-Noir
100852,NaN,34482,NaN,NaN,"Browning Version, The (1951)",Drama
100853,NaN,85565,NaN,NaN,Chalet Girl (2011),Comedy|Romance

In [24]:
len(ratings) == len(joined)

True

In [151]:
joined = ratings.merge(movies, on='movieId', how='outer')
joined

KeyError: 'movieId'

In [28]:
import pandas as pd
ratings = pd.read_csv('ratings_example.txt', sep = '\t')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144

In [29]:
movies = pd.read_csv('movies_example.txt', sep = '\t')
movies.head()

   movieId                                      title                   genres
0       31                    Dangerous Minds (1995)                     Drama
1       32  Twelve Monkeys (a.k.a. 12 Monkeys) (1995)  Mystery|Sci-Fi|Thriller
2       31                    Dangerous Minds (1995)                     Drama

In [38]:
j = ratings.merge(movies, on='movieId', how = 'inner')
j

   userId  movieId  rating   timestamp                    title genres
0       1       31     2.5  1260759144  Dangerous Minds (1995)   Drama

In [34]:
movies.drop_duplicates(subset = 'movieId', keep = 'first', inplace = True)
movies.head()

   movieId                                      title                   genres
0       31                    Dangerous Minds (1995)                     Drama
1       32  Twelve Monkeys (a.k.a. 12 Monkeys) (1995)  Mystery|Sci-Fi|Thriller

In [39]:
ratings.merge(movies, how = 'inner', on = 'movieId')

   userId  movieId  rating   timestamp                    title genres
0       1       31     2.5  1260759144  Dangerous Minds (1995)   Drama

In [40]:
items_dict = {

    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 100132, 312394], 

    'vendor': ['Samsung', 'LG', 'Apple', 'Apple', 'LG', 'Apple', 'Samsung', 'Samsung', 'LG', 'ZTE'],

    'stock_count': [54, 33, 122, 18, 102, 43, 77, 143, 60, 19]

}
purchase_log = {

    'purchase_id': [101, 101, 101, 112, 121, 145, 145, 145, 145, 221],

    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 103845, 100132], 

    'price': [13900, 5330, 38200, 49990, 9890, 33000, 67500, 34500, 89900, 11400]

}

items_df = pd.DataFrame(items_dict)
purchase_df = pd.DataFrame(purchase_log)

In [109]:
items = items_df.merge(purchase_df, how = 'outer', on = 'item_id')

items['total']=items['stock_count']*items['price']

items['total'].sum()

19729490.0

In [110]:
import os
files = os.listdir('data')
files

['ratings_8.txt',
 'ratings_9.txt',
 'ratings_10.txt',
 'ratings_7.txt',
 'ratings_6.txt',
 'ratings_4.txt',
 'ratings_5.txt',
 'ratings_1.txt',
 'ratings_2.txt',
 'ratings_3.txt']

In [111]:
files = ['setup.py', 'ratings.txt', 'stock_stats.txt', 'movies.txt', 'run.sh', 'game_of_thrones.mov']
data = []
for i in files:
    k=i[i.find('.')+1:]
    if k == 'txt':
        data.append(i)
print(data)

['ratings.txt', 'stock_stats.txt', 'movies.txt']

In [112]:
for root, dirs, files in os.walk('data'):
    print(root, dirs, files)

data [] ['ratings_8.txt', 'ratings_9.txt', 'ratings_10.txt', 'ratings_7.txt', 'ratings_6.txt', 'ratings_4.txt', 'ratings_5.txt', 'ratings_1.txt', 'ratings_2.txt', 'ratings_3.txt']

In [113]:
data = pd.DataFrame(columns = ['userId', 'movieId', 'rating', 'timestamp'])
data

Empty DataFrame
Columns: [userId, movieId, rating, timestamp]
Index: []

In [119]:
temp = pd.read_csv( os.path.join('data',files), names = ['userId', 'movieId', 'rating', 'timestamp'] )
data = pd.concat([data, temp])

TypeError: join() argument must be str, bytes, or os.PathLike object, not 'list'

In [117]:
files = os.listdir('data')
files

['ratings_8.txt',
 'ratings_9.txt',
 'ratings_10.txt',
 'ratings_7.txt',
 'ratings_6.txt',
 'ratings_4.txt',
 'ratings_5.txt',
 'ratings_1.txt',
 'ratings_2.txt',
 'ratings_3.txt']

In [141]:
data = pd.DataFrame(columns = ['userId', 'movieId', 'rating', 'timestamp'])
for i in files:
    temp = pd.read_csv( os.path.join('data', i), names = ['userId', 'movieId', 'rating', 'timestamp'] )
    data = pd.concat([data, temp])
    print(i)

data.value_counts()

ratings_8.txt
ratings_9.txt
ratings_10.txt
ratings_7.txt
ratings_6.txt
ratings_4.txt
ratings_5.txt
ratings_1.txt
ratings_2.txt
ratings_3.txt

userId  movieId  rating  timestamp
671     6565     3.5     1074784724    1
240     1278     4.0     1098940482    1
        924      4.5     1099264429    1
        927      3.5     1098942545    1
        936      4.0     1098942369    1
                                      ..
468     8874     3.5     1296196897    1
        8882     3.0     1296192633    1
        8950     3.5     1296197576    1
        8958     3.0     1296197835    1
1       31       2.5     1260759144    1
Length: 100004, dtype: int64

In [150]:
rating = pd.read_csv('/Users/evgeny/Documents/GitHub/skillfactory/module_1/ratings.xls')
result = rating['rating'] == 0.5
result.value_counts()

False    99466
True      1370
Name: rating, dtype: int64

In [179]:
ratings = pd.read_csv('/Users/evgeny/Documents/GitHub/skillfactory/module_1/ratings.xls')
movies = pd.read_csv('/Users/evgeny/Documents/GitHub/skillfactory/module_1/movies.xls')
film = movies['movieId'] == 3456
movies[movies.movieId == 3456]

      movieId                                         title genres
2587     3456  Color of Paradise, The (Rang-e khoda) (1999)  Drama

In [176]:
ratings = pd.read_csv('/Users/evgeny/Documents/GitHub/skillfactory/module_1/ratings.xls')
movies = pd.read_csv('/Users/evgeny/Documents/GitHub/skillfactory/module_1/movies.xls')
joined = ratings.merge(movies, on='movieId', how='outer')
joined

,userId,movieId,rating,timestamp,title,genres
0,1.0,1,4.0,9.649827e+08,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5.0,1,4.0,8.474350e+08,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7.0,1,4.5,1.106636e+09,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,15.0,1,2.5,1.510578e+09,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,17.0,1,4.5,1.305696e+09,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
...,...,...,...,...,...,...
100849,NaN,30892,NaN,NaN,In the Realms of the Unreal (2004),Animation|Documentary
100850,NaN,32160,NaN,NaN,Twentieth Century (1934),Comedy
100851,NaN,32371,NaN,NaN,Call Northside 777 (1948),Crime|Drama|Film-Noir
100852,NaN,34482,NaN,NaN,"Browning Version, The (1951)",Drama
100853,NaN,85565,NaN,NaN,Chalet Girl (2011),Comedy|Romance