In [461]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [776]:
data = pd.read_csv('/Users/evgeny/Documents/GitHub/skillfactory/module_1/project_1/movie_bd_v5.csv')
data.sample(5)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

In [4]:
#data.describe()
#data

# Предобработка

In [774]:
answers = {} # создадим словарь для ответов

# Вопрос 6. Какой самый прибыльный фильм?
data['profit'] = data['revenue'] - data['budget'] # создаем колонку profit
def profit(x):                                    # создаем функцию которая считает profit 
    x = data.budget - data.revenue
    return x
data['profit'] = data.profit.apply(profit)        # заполняем колонку profit

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [709]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [710]:
data.query('budget == @data.budget.max()') # вариант с помощью query

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 2

In [711]:
data.sort_values(by = ['budget'],ascending=False) # вариант с помощью sort_values

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000
1669,tt0449088,300000000,961000000,Pirates of the Caribbean: At World's End,Johnny Depp|Orlando Bloom|Keira Knightley|Geof...,Gore Verbinski,"At the end of the world, the adventure begins.","Captain Barbossa, long believed to be dead, ha...",169,Adventure|Fantasy|Action,Walt Disney Pictures|Jerry Bruckheimer Films|S...,5/19/2007,6.8,2007,661000000
14,tt2395427,280000000,1405035767,Avengers: Age of Ultron,Robert Downey Jr.|Chris Hemsworth|Mark Ruffalo...,Joss Whedon,A New Age Has Come.,When Tony Stark tries to jumpstart a dormant p...,141,Action|Adventure|Science Fiction,Marvel Studios|Prime Focus|Revolution Sun Studios,4/22/2015,7.4,2015,1125035767
1014,tt0401729,260000000,284139100,John Carter,Taylor Kitsch|Lynn Collins|Mark Strong|Willem ...,Andrew Stanton,Lost in Our World. Found in Another.,Civil War vet John Carter is transplanted to M...,132,Action|Adventure|Fantasy|Science Fiction,Walt Disney Pictures,3/7/2012,6.0,2012,24139100
380,tt0398286,260000000,591794936,Tangled,Zachary Levi|Mandy Moore|Donna Murphy|Ron Perl...,Nathan Greno|Byron Howard,They're taking adventure to new lengths.,When the kingdom's most wanted-and most charmi...,100,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,11/24/2010,7.3,2010,331794936
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,tt0283111,5000000,38275483,National Lampoonâ€™s Van Wilder,Ryan Reynolds|Tara Reid|Tim Matheson|Kal Penn|...,Walt Becker,Don't Graduate. Celebrate.,"Van Wilder is an outgoing, and extremely popul...",92,Comedy|Romance,Tapestry Films|Artisan Entertainment,3/29/2002,5.9,2002,33275483
892,tt0259446,5000000,368744044,My Big Fat Greek Wedding,Nia Vardalos|John Corbett|Lainie Kazan|Michael...,Joel Zwick,Love is here to stay... so is her family.,A young Greek woman falls in love with a non-G...,95,Comedy|Drama|Romance,MPH Entertainment|Playtone Productions|Gold Ci...,2/22/2002,6.1,2002,363744044
1071,tt2109184,5000000,142817992,Paranormal Activity 4,Katie Featherston|Kathryn Newton|Matt Shively|...,Henry Joost|Ariel Schulman,It's closer than you think,It has been five years since the disappearance...,95,Horror,Paramount Pictures|Blumhouse Productions|Room ...,10/17/2012,5.3,2012,137817992
911,tt0322802,5000000,64282312,Jackass: The Movie,Johnny Knoxville|Bam Margera|Steve-O|Chris Pon...,Jeff Tremaine,Do not attempt this at home.,Johnny Knoxville and his crazy friends appear ...,87,Comedy,Paramount Pictures,10/21/2002,6.2,2002,59282312
1216,tt2101441,5000000,31724284,Spring Breakers,James Franco|Selena Gomez|Vanessa Hudgens|Ashl...,Harmony Korine,A little sun can bring out your dark side.,After four college girls rob a restaurant to f...,94,Drama|Crime,RabbitBandini Productions|Division Films|Pop F...,1/24/2013,5.0,2013,26724284

# 2. Какой из фильмов самый длительный (в минутах)?

In [712]:
answers['2'] = '2. Gods and Generals (tt0279111)'

In [713]:
data.query('runtime == @data.runtime.max()') # вариант с помощью query

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [714]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [715]:
data.query('runtime == @data.runtime.min()') # вариант с помощью query

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [716]:
answers['4'] = '2. 110'

In [717]:
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [718]:
answers['5'] = '1. 107'

In [719]:
round(data.runtime.median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [720]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = '5. Avatar (tt0499549)'

In [721]:
data.query('profit == @data.profit.max()')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [722]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

In [723]:
data.query('profit == @data.profit.min()')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [724]:
answers['8'] = '1. 1478'

In [725]:
len(data.query('revenue > budget'))

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [726]:
answers['9'] = '4. The Dark Knight (tt0468569)'

In [727]:
film_2008 = data.query('release_year == 2008')
film_2008.query('revenue == @film_2008.revenue.max()')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [728]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

In [729]:
film_unprofitable = data.query('2012 <= release_year <= 2014')
film_unprofitable
film_unprofitable.query('profit == @film_unprofitable.profit.min()')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [730]:
answers['11'] = '1. Drama'

In [731]:
df = data.genres.str.split('|') # разделяем жанры
genres =[]                      # создаем пустой список куда будем добавлять жанры
for i in df:                    # запускаем цикл перебора жанров
    for x in i:
        genres.append(x)        # добавляем в список genres
Counter(genres).most_common()   # посчитываем кол-во поторений в списке и сортируем

[('Drama', 782),
 ('Comedy', 683),
 ('Thriller', 596),
 ('Action', 582),
 ('Adventure', 415),
 ('Crime', 315),
 ('Romance', 308),
 ('Family', 260),
 ('Science Fiction', 248),
 ('Fantasy', 222),
 ('Horror', 176),
 ('Mystery', 168),
 ('Animation', 139),
 ('Music', 64),
 ('History', 62),
 ('War', 58),
 ('Western', 19),
 ('Documentary', 8),
 ('Foreign', 2)]

ВАРИАНТ 2

In [732]:
action = data.copy()
action['genres'] = action.genres.str.split('|') # разделяем жанры
action = action.genres.explode('genres')        # разбиваем жанры по строкам
action.value_counts()                           # считаем кол-во

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [733]:
answers['12'] = '3. Drama'

In [734]:
action = data.query('profit > 0').copy()          # фильтруем по прибыли > 0
action['genres'] = action.genres.str.split('|')
action = action.genres.explode('genres')
action.value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [735]:
answers['13'] = '5. Peter Jackson'

In [736]:
grouped_dir = data.groupby(['director']).sum() # группируем режисеров и суммируем столбцы
grouped_dir.query('revenue == @grouped_dir.revenue.max()')
                                        # делаем запрос по заданному условию

,budget,revenue,runtime,vote_average,release_year,profit
director,,,,,,
Peter Jackson,1288000000,6490593685,1355,58.1,16059,5202593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [737]:
answers['14'] = '3. Robert Rodriguez'

In [738]:
director_act = data[data.genres.str.contains('Action')].copy() # фильтруем жанры по action и копируем датафрейм
director_act['director'] = director_act.director.str.split('|') # разделяем режисеров функц split
director_act = director_act.explode('director') # разбиваем режисеров по строкам
director_act.director.value_counts() # считаем режисеров

Robert Rodriguez         9
Paul W.S. Anderson       7
Michael Bay              7
Ridley Scott             6
Antoine Fuqua            6
                        ..
Christian Duguay         1
Brian A Miller           1
Christopher McQuarrie    1
Kerry Conran             1
Frank Coraci             1
Name: director, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [634]:
answers['15'] = '3. Chris Hemsworth'
data_cast = data.copy() # копирум датафрейм
data_cast['cast'] = data_cast.cast.str.split('|') # разделяем актеров
data_cast = data_cast.explode('cast') # разбиваем актеров по строкам
data_cast = data_cast.query('release_year == 2012') # фильтруем по году
result = data_cast.groupby(['cast'])['revenue'].sum().sort_values(ascending
                                                                  =False) 
# группируем актеров и суммируем сборы, от большего к меньшему
result

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [635]:
answers['16'] = '3. Matt Damon'

In [637]:
cast_budget = data.copy()
cast_budget = cast_budget.query('budget > @data.budget.mean()') # фильруем по условию
cast_budget['cast'] = cast_budget.cast.str.split('|')           # разделяем актеров
cast_budget = cast_budget.explode('cast')
cast_budget.cast.value_counts()                                 # считаем актеров

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Eddie Murphy         15
Samuel L. Jackson    15
                     ..
Rob Reiner            1
Shad Moss             1
Morris Chestnut       1
Dan Fogler            1
Lainie Kazan          1
Name: cast, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [638]:
answers['17'] = '2. Action'

In [750]:
nicolas_cage = data.copy()
nicolas_cage['cast'] = nicolas_cage.cast.str.split('|') # разделяем актеров
nicolas_cage = nicolas_cage.explode('cast')
nicolas_cage = nicolas_cage[nicolas_cage.cast.str.contains('Nicolas Cage')] # фильтруем
nicolas_cage['genres'] = nicolas_cage.genres.str.split('|') # разделяем жарны
nicolas_cage = nicolas_cage.explode('genres')
nicolas_cage.genres.value_counts()                          # считаем кол-во

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Family              3
Animation           3
History             2
Horror              1
War                 1
Romance             1
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [751]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

In [752]:
profit_paramaunt = data.copy()
profit_paramaunt = profit_paramaunt[profit_paramaunt
                            .production_companies.str.contains('Paramount')] # фильтруем
profit_paramaunt.query('profit == @profit_paramaunt.profit.min()') # запрос согласно условию

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [753]:
answers['19'] = '5. 2015'

In [754]:
best_year = data.copy()
# групируем по заданному условию
best_year.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [755]:
answers['20'] = '1. 2014'

In [756]:
# фильтруем по студии
warner_profit = data[data.production_companies.str.contains('Warner')].copy() 
# групируем по заданному условию
warner_profit.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)

release_year
2014    2295464519
2007    2208217007
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1595278228
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     617151739
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [757]:
answers['21'] = '4. сентябрь'
date_film = data.copy()
only_date = date_film['release_date'].str.split('/',expand=True) # разделяем дату
only_date[0].value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: 0, dtype: int64

In [758]:
date_film = data.copy()
only_date = date_film['release_date'].str.split('/',expand=True) # разделяем дату на м д г
only_date[0].value_counts() # считаем кол-во по месяцам

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: 0, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [759]:
answers['22'] = '2. 450'

In [760]:
summer = only_date[0].value_counts() # используем only_date из предыдущего вопроса
summer[[3]+[6]+[8]].sum() # выбираем летние месяца и суммируем

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [761]:
answers['23'] = '5. Peter Jackson'

In [762]:
winter_director = data.copy()
# разбиваем дату на месяца
winter_director['release_date'] = winter_director['release_date'].str.split('/',expand=True)
# запрос по зимним месяцам
winter_director_1 = winter_director.query('release_date in ["12","1","2"]')
# считаем кол-во
winter_director_1['director'].value_counts()

Peter Jackson               7
Steven Soderbergh           6
Clint Eastwood              6
Shawn Levy                  4
Adam Shankman               4
                           ..
Rob Letterman               1
Mark Dindal                 1
Walter Hill|Jack Sholder    1
Gus Van Sant                1
Evan Goldberg|Seth Rogen    1
Name: director, Length: 332, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [763]:
answers['24'] = '2. Warner Bros'

In [764]:
company = data.copy()
# разделяем студии
company['production_companies'] = company['production_companies'].str.split('|')
company = company.explode('production_companies')
# вносим изменения, название заменяем на кол-во символов
company.original_title = company.original_title.apply(lambda x: len(list(x)))
# групируем по заданному условию и сортируем от большего к меньшему
company.groupby(['production_companies'])['original_title'].mean().sort_values(ascending=False)

production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: original_title, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [765]:
answers['25'] = '3. Midnight Picture Show'
company_overview = company.copy()
# разделяем текст описания по словам
company_overview['overview'] = company_overview['overview'].str.split(' ')
# 
company_overview['overview'] = company_overview.overview.apply(lambda x: len(x))
company_overview.groupby(['production_companies'])['overview'].mean().sort_values(ascending=False)

production_companies
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
Heineken Branded Entertainment           161.0
98 MPH Productions                       159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: overview, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [766]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave '

In [767]:
percent_films = round(len(data)/100) # вычисляем 1% от общего кол-ва фильмов
s = data.vote_average.sort_values(ascending=False) # создаем список с оценками
k = s[percent_films:(percent_films+1)] # смотрим нижний порог оценки 1% от фильмов 
film_data = data.query('vote_average > = @k.iloc[0]')# запрос по фильма с оценкой выше порога 
sorted(film_data.original_title) # сортируем по алфавиту и выбираем фильмы из задания

['12 Years a Slave',
 '3 Idiots',
 'Big Hero 6',
 'Dallas Buyers Club',
 'Eternal Sunshine of the Spotless Mind',
 'Gone Girl',
 'Guardians of the Galaxy',
 'Her',
 'Inception',
 'Inside Out',
 'Interstellar',
 'Memento',
 'Mr. Nobody',
 'Prisoners',
 'Room',
 'Spotlight',
 'The Dark Knight',
 'The Fault in Our Stars',
 'The Grand Budapest Hotel',
 'The Imitation Game',
 'The Lord of the Rings: The Fellowship of the Ring',
 'The Lord of the Rings: The Return of the King',
 'The Lord of the Rings: The Two Towers',
 'The Pianist',
 'The Prestige',
 'The Theory of Everything',
 'The Wolf of Wall Street',
 'There Will Be Blood']

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [768]:
answers['27'] = '5. Daniel Radcliffe, Rupert Grint '

In [769]:
import itertools
cast_unique = data.copy()
# разделяем актеров и создаем возможние пары
cast_unique['cast'] = cast_unique.cast.str.split('|').apply(lambda x: 
                                                            list(itertools.combinations(x,2)))
# разбиваем актеров на строки
cast_unique = cast_unique.explode('cast') 
# считаем кол-во
cast_unique['cast'].value_counts()

(Daniel Radcliffe, Rupert Grint)       8
(Daniel Radcliffe, Emma Watson)        8
(Rupert Grint, Emma Watson)            7
(Ben Stiller, Owen Wilson)             6
(Johnny Depp, Helena Bonham Carter)    6
                                      ..
(Jennifer Lopez, SÃ´nia Braga)         1
(Helen Hunt, Dennis Quaid)             1
(Michael Caine, Eddie Izzard)          1
(Hugh Laurie, Paul Rudd)               1
(Shailene Woodley, Robert Forster)     1
Name: cast, Length: 18121, dtype: int64

ВАРИАНТ 2

# Submission

In [770]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'9': '4. The Dark Knight (tt0468569)',
 '11': '1. Drama',
 '13': '5. Peter Jackson',
 '12': '3. Drama',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '24': '2. Warner Bros',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave ',
 '27': '5. Daniel Radcliffe, Rupert Grint ',
 '1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '10': '5. The Lone Ranger (tt1210819)',
 '23': '5. Peter Jackson',
 '21': '4. сентябрь',
 '22': '2. 450',
 '25': '3. Midnight Picture Show'}

In [771]:
# и убедиться что ни чего не пропустил)
len(answers)

27